<div class="container" style="text-align:center;">
    <h1>Sign Up Form</h1>
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <div class="form-group">
        <label for="email">E-mail</label>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <input #email="ngModel" type="text" class="form-control" id="email" required [(ngModel)]="model.email" name="email">
            <div [hidden]="email.valid || email.pristine" 
                class="alert alert-danger">
              E-mail is required
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <input #username="ngModel" type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username">
            <div [hidden]="username.valid || username.pristine" 
                class="alert alert-danger">
              Username is required
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <label for="password">Password</label>
            <input name="password" type="password" [(ngModel)]="model.password" class="form-control" id="password">
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!signupForm.form.valid">Submit</button>
    </form>
</div>