<div class="row">
    <div class="col-sm-4">
        <div class="info floatL" style="margin-left: 40%;display: none;">Choose 2 nodes to draw the link in between</div>
    </div>
    <div class="second-menu col-sm-3">
        <div class="floatR add-menu" style="margin-right:3%;" [hidden]="isAddMenuHidden">
            <div class="form-group form-md-line-input" style="padding-top:0px !important;">
                <div class="col-md-12">
                    <div class="md-radio-inline">
                        <div class="md-radio" (click)="radioClick($event)">
                            <input type="radio" id="radio53" name="radio2" class="md-radiobtn" value="switch" checked>
                            <label for="radio53">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Switch </label>
                        </div>
                        <div class="md-radio has-error" (click)="radioClick($event)">
                            <input type="radio" id="radio54" name="radio2" class="md-radiobtn" value="host">
                            <label for="radio54">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Host </label>
                        </div>
                        <div class="md-radio has-warning" (click)="radioClick($event)">
                            <input type="radio" id="radio55" name="radio2" class="md-radiobtn" value="link">
                            <label for="radio55">
                                <span></span>
                                <span class="check"></span>
                                <span class="box"></span> Link </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-3">
                <div [hidden]="true" class="md-checkbox-inline floatR" style="margin-right: 1%;">
                    <div class="md-checkbox">
                        <input type="checkbox" id="checkbox6" class="md-check roothopping" [(checked)]="roothopping">
                        <label for="checkbox6">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>R. Hopping</label>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="btn-group btn-group-circle btn-group-solid">
                    <button class="btn grey-mint" (click)='shortestPathClick()'>Shortest Path</button>
                    <button class="btn  blue" (click)='changePathClick()'>Different Path</button>
                    <button class="btn btn-info" (click)='resetClick()'>Reset</button>
                </div>
            </div>
            <div class="col-sm-1" [hidden]="true">
                <button type="button" class="add floatR btn btn-circle btn-default" data-toggle="button" aria-pressed="false"
                        (click)='addModeClick()'> Add Mode
                </button>
            </div>

        </div>
    </div>

</div>
<!--<div id="contextmenu">
    <ul>
        <li class='contextmenu-item'>Enable/Disable</li>
        <li></li>
        <li></li>
    </ul>
</div>-->


    <svg class="turkey-svg">

    </svg>
